body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);  
}
ul{
	list-style: none;
}
a{
	color: #2b2be3;
}
button{
	font-weight: 600;
	min-width: 80px;
}
button:hover,
img:hover{
	cursor: pointer;
}